*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'MontSerrat', sans-serif;
}
:root{
    --bg-color: #2a2a2a;
    --second-bg-color: #202020;
    --text-color: #fff;
    --second-color : #ccc;
    --main-color: #fbba00;
    --big-font: 2rem;
    --h2-font: 1.5rem;
    --p-font: 1rem;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:var(--bg-color) ;
    padding: 20px;
}
.logo{
    padding-left: 10px;
    width: 75px;
}
.container{
    display: flex;
    position: relative;
    max-width: 100vh;
    width: 100%;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--big-font);
    color: var(--second-bg-color) ;
    font-weight: 800;
    
}
.container .form {
    width: 100%;
    font-size: var(--p-font);
    font-weight: 600;
    margin-top: 30px;
}

.form-img img{
    padding: 1rem;
    height: 100%;
    width:50vh ;
}
.form .input-box{
    width: 100%;
    margin-top: 20px;
}
.input-box label{
    color: var(--second-bg-color);
}
.form :where(.input-box input, .select-box) {
    position: relative;
    height: 35px;
    width: 100%;
    outline: none;
    border: 1px solid var(--second-color);
    border-radius: 8px;
    padding: 0 15px;
    font-size: var(--p-font);
    color: var(--second-bg-color);
    margin-top: 8px ;
}

.form .column{
    display: flex;
    column-gap: 15px;
}
.form .gender-box{
    margin-top: 20px;
    
}
.gender-box h3{
    color: var(--second-bg-color);
    font-size: var(--p-font);
    font-weight: 600;
    margin-bottom: 8px;
}
.form :where(.gender-option,.gender){
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}
.form .gender{
    column-gap: 5px;
    
}
.form :where(.gender input , .gender label){
    cursor: pointer;
}
.select-box select{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: var(--second-bg-color);
    font-size: var(--p-font);
}
@media  screen and (max-width: 900px){
   .container{
    display: flex;
    justify-content: center;
   }
    .form-img{
        display: none;
    }
    
}

@media  screen and (max-width: 500px){
    .form .column{
        flex-wrap: wrap;
    }
    .form :where(.gender-option,.gender){
        row-gap: 15px;
    }
}


.form button{
    height: 55px;
    width: 100%;
    color: var(--second-bg-color);
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
    font-weight: 600;
    background-color: var(--main-color);
}